/*.input-field{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}*/
.input-field.success input{
	border-color: #2ecc71;
}

.input-field.error input{
	border-color: #e74c3c;
}

.input-field.success i.fa-check-circle{
	visibility: visible;
	color: #2ecc71;
}

.input-field.error i.fa-exclamation-circle{
	visibility: visible;
	color: #e74c3c;
}
.input-field.error small{
	visibility: visible;
	color: #e74c3c;
}

.input-field i{
	visibility: hidden;
	position: absolute;
	top:38px;
	right: 25px;
}

.input-field small{
	visibility: hidden;
	/*position: absolute;*/
	bottom:0;
	left:0;
}
.input-field #errorMessage{
position: absolute;
font-size: 85%;
	top:50px;
	right: 80%;
	color: #e74c3c;
}
.errorMessage2{
font-size: 85%;
color: #e74c3c;
}
.hideDiv{
	visibility: hidden;
}
.showDiv{
	visibility: visible;
} 